@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  background-image: url('/images/portfoltiobg.png');
}
body {
  min-height: 100vh;
  margin: 0;

  color: #c8c8d4;
  font-family: Roboto, 'sans serif';
  line-height: 24px;
  font-size: 15;
}
img {
  position: absolute;
  background: #191765;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}
.wrapper > * {
  width: 370px;
  align-self: center;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 40px;
}
/* Name displayed at header */
.header span {
  font-size: 18;
  font-weight: 500;
  line-height: 16px;
  color: white;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.headline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline-section .myName {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.37px;
  color: #7d73fc;
  margin-bottom: 10px;
}
.headline-section .role {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #edecff;
  margin-bottom: 30px;
}
.self-intro {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: rgb(225, 225, 228, 0.2) 1px solid;
}
